@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

:root {
    --bs-primary: #03228f;
    --bs-black: #454545;
    --bs-white: #ffffff;
    --box-shadow-1: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SolaimanLipi', sans-serif;
    font-weight: 400;
    color: var(--bs-black);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
table,
button {
    font-family: 'SolaimanLipi', sans-serif;
}

ul {
    padding: 0;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.overflow-hidden-x {
    overflow-x: hidden;
}

.shadow-main {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.paddding-15px {
    padding: 15px;
}

.border-radius-6px {
    border-radius: 6px;
}

/* =============================================== */
/*---------------------------------------- NAV AREA START FROM HERE------------------------------------------------- */

.brand-logo-top img {
    max-width: 300px;
    max-height: 65px;
}

.date-area i {
    margin-right: 10px;
    font-size: 20px;
    color: #004681;
}

.date-area span {
    font-size: 18px;
}

.social-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon.facebook {
    background: #3b5998;
    color: #fff;
}

.social-icon.youtube {
    background: red;
    color: #fff;
}

.social-icon.twitter {
    background: #1da1f2;
    color: #fff;
}

.social-icon.instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: #fff;
}

.social-icon.linkedin {
    background: #0a66c2;
    color: #fff;
}

.social-icon.rss {
    background-image: linear-gradient(20deg, #ff0000 0%, #ff0000 100%);
    color: #fff;
}

/* -------------------Main Nav bar Start from here---------------------------------- */

.navbar {
    background-color: #004681;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    margin: 0 auto;
}

.navbar ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    height: 50px;
    align-items: center;
    margin: 0 auto;
}

.navbar ul li:first-child {
    border-bottom: none !important;
}

.navbar ul li:first-child:hover {
    border-bottom: none !important;
}

.navbar ul li {
    padding: 10px;
    border-bottom: 3px solid transparent;
    transition: all 1s ease;
}

.navbar ul li:hover {
    border-bottom: 3px solid #1DA1F2;
}

.navbar ul li a {
    font-size: 18px;
    color: #ffffff;
}

.navbar ul li a {
    font-size: 18px;
    color: #ffffff;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.navbar ul li a:hover {
    color: #1DA1F2 !important;
}

.navbar ul li .fa-search {
    padding-top: 6px;

}

.navbar ul .search:hover {
    border-bottom: 3px solid transparent;
}

.dropbtn {
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 48px;
}

.dropdown-menu {
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    min-width: 160px;
}

.dropdown-item {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-toggle::after {
    vertical-align: 3px !important;
}

.dropdown-menu.last {
    width: 760px !important;
    position: absolute;
    left: -636px;
}

.big-nav-logo {
    display: none;
    width: 140px;
}

.mega-menu {
    display: block !important;
    visibility: hidden;
    opacity: 0;
}

.mega-dropdown:hover>.mega-menu {
    display: block !important;
    visibility: visible;
    opacity: 1;
}

.dropdown-menu.last {
    display: block !important;
    visibility: hidden;
    opacity: 0;
}

.dropdown.last-child:hover>.dropdown-menu.last {
    display: block !important;
    visibility: visible;
    opacity: 1;
}

/* -------------------------------------mobile navbar start from here----------------------------------- */

.mobile-menu {
    width: 100%;
    padding: 15px;
    position: relative;
}

.mobile-menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-list a img {
    max-width: 240px;
    max-height: 65px;
}

.mobile-menu-list .ham-burger {
    cursor: pointer;
}

.mobile-menu-list .ham-burger i {
    color: #FF0000;
    font-size: 25px;
    font-weight: bold;

}

.mobile-nav-link {
    width: 50vw;
    height: 100vh;
    position: fixed;
    display: block;
    z-index: 4;
    background-color: #fff;
    left: -350vw;
    transition: left 0.9s ease;
    top: 0;
    overflow-x: hidden;
}

.mobile-nav-list ul {
    width: 50vw;
    height: 100%;
}

.mobile-nav-list {
    background-color: #ffffff;
    margin-top: 20px;
}

.mobile-nav-list ul {
    height: 100vh;
}

/* .mobile-nav-list ul li {
    width: 90%;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e6e9ed;
    transition: left 0.5s ease;
    text-align: center;
    height: 70px;
} */
.mobile-nav-list ul li a {
    font-size: 20px;
    color: #000000;
}

.nav-link {
    display: block;
    padding: 0 !important;
}

.show {
    left: 0;
}

.top-cancel {
    width: 100%;
    height: 90px;
    background-color: #f5f5f5;
}

.top-cancel i {
    top: 35px;
    left: 90%;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: #ff0000;
    cursor: pointer;
}

.mobile-menu .mobile-search i {
    color: #ff0000;
    cursor: pointer;
}

/*--------------- Nav Search area ------------------------  */

.search-area {
    width: 100%;
    height: 60px;
    position: absolute;
    top: -5px;
    background-color: #fff;
    left: 0;
    display: none;
}

.search-show {
    display: block;
}

.search-wrapper {
    position: sticky;
    transition: all 0.5s ease-in-out;
    align-items: center;
    top: 0;
    z-index: 2147483647;
    width: 100%;
    height: 60.8px !important;
    top: 10px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.input-group-append {
    margin-left: -1px;
}

.search-wrapper .btn-close {
    background-color: #FF0000;

}

.btn-dark {
    height: 38px;
    margin-right: 2px;
}

@media screen and (max-width: 991px) {
    .navbar .mega-dropdown {
        position: static;
        /* z-index: 9999!important; */
    }

    .navbar .mega-dropdown .dropdown-menu.mega-menu {
        width: 100%;
        border: none;
        border-radius: 0;
    }

    ::-webkit-scrollbar {
        width: 1px !important;
        height: 1px !important;
    }

    ::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #FF0000 !important;
        border-radius: 10px;
    }

    .ad-area {
        display: none;
    }

    .dropdown.last-child {
        display: none;
    }

    .navbar .search {
        display: none;

    }

    .navbar ul {
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden !important;
        height: auto;
    }

    .navbar ul li:hover {
        border-bottom: 3px solid #FF0000;
    }

    .mobile-search-area {
        width: 100%;
        height: 78px;
        position: absolute;
        top: 18px;
        background-color: #fff;
        left: 0;
        display: none;
    }

    .dropdown-toggle::after {
        vertical-align: 3px !important;
        display: none;
    }

    .dropdown-menu {
        background-color: #f1f1f1;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        min-width: 160px;
    }

    .search-wrapper .btn-close {
        background-color: #FF0000;
        color: #fff;
    }

    .mobile-search-area .btn-close i {
        color: #000;

    }

    .search-show {
        display: block;
    }

    .search-wrapper {
        position: sticky;
        transition: all 0.5s ease-in-out;
        align-items: center;
        top: 0;
        width: 100%;
        height: 60.8px !important;
        top: 10px;
    }

    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }

    .form-control::placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .input-group-append {
        margin-left: -1px;
    }

    .mobile-menu {
        padding: 20px;
    }

    /* mobile-sideber-dropdown */
    .mobile-nav-link .dropdown-menu {
        width: 40%;
        background-color: #fff;
        box-shadow: none;
        text-align: center;
    }

    .mobile-nav-link .dropdown-item {
        color: black !important;
        padding: 4px 16px;
        text-decoration: none;
        display: block;

    }
}

@media screen and (max-width: 576px) {

    .mobile-menu .logo img {
        width: 180px;

    }

}

* drop down hover big screen */ .mega-menu {
    display: block !important;
    visibility: hidden;
    opacity: 0;
}

.mega-dropdown:hover>.mega-menu {
    display: block !important;
    visibility: visible;
    opacity: 1;
}

.dropdown-menu.last {
    display: block !important;
    visibility: hidden;
    opacity: 0;
}

.dropdown.last-child:hover>.dropdown-menu.last {
    display: block !important;
    visibility: visible;
    opacity: 1;
}

/* dropdown sideber */

.mobile-nav-link {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: block;
    z-index: 4;
    background-color: #fff;
    left: -350vw;
    transition: left 0.9s ease;
    top: 0;
    overflow-x: hidden;
    z-index: 99;
}

.mobile-nav-list ul {
    width: 100%;
    height: 100%;
    text-align: center;
}

.show {
    left: 0;
}

.mobile-nav-list ul li {
    width: 90%;
    display: inline-block;
    border-bottom: 1px solid #e6e9ed;
    transition: left 0.5s ease;
    text-align: center;
    padding: 15px;
}

.expandable {
    width: 100% !important;
    display: none;
}

.expand-btn i {
    margin-left: 10px;
}

.show {
    display: block !important;
}

.expandable ul {
    margin-top: 10px;
    width: 100% !important;
    padding: 0 !important;
    height: auto !important;
    background-color: #e6e9ed;
}

.expandable ul li {
    border-bottom: none !important;
}

@media screen and (max-width: 450px) {
    .mobile-nav-link {
        width: 100%;
    }
}

.fixed {
    z-index: 98 !important;
}

/* =============================================== */

.lead-news {
    height: 220px;
    overflow: hidden;
    margin-bottom: 15px;
}

.common-border-box {
    background-color: #fff;
    padding: 8px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.lead-news .title {
    font-size: 22px;
    line-height: 28px;
    color: #121212;
    font-weight: 600;
}

.lead-news .news-summary {
    font-size: 16px;
    line-height: 22px;
    -webkit-line-clamp: 4;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    color: #555555;
    font-weight: 400;
}

.lead-news img {
    aspect-ratio: 16/9;
    border-radius: 5px;
}

.border-right {
    border-right: 1px solid #e2e2e2;
}

.news-sm {
    margin-bottom: 6px;
}



.news-sm .title {
    margin: 10px 0;
    font-size: 18px !important;
    line-height: 24px;
    color: #2d3134;
    font-weight: 600;
}

.news-sm .description {
    font-size: 16px;
    line-height: 22px;
    -webkit-line-clamp: 4;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    color: #555555;
    font-weight: 400;
    margin-bottom: 0;
}

.news-sm span {
    font-size: 12px;
    font-weight: 600;
    color: #8a8989;
}


.img-zoom-hover {
    overflow: hidden;
    border-radius: 5px;
}

.img-zoom-hover.h-150px {
    aspect-ratio: 16 / 9;
}


.img-zoom-hover img {
    height: 100%;
    width: 100%;
    transition: transform .9s ease;
    overflow: hidden;
    border-radius: 5px;
}


.news-sm:hover .img-zoom-hover img,
.news-md-grid:hover .img-zoom-hover img,
.news-list:hover .img-zoom-hover img {
    transform: scale(1.2);
}


.news-md-grid .title {
    color: #2d3134;
    line-height: 26px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-bottom: 0px !important;
}

.border-bottom {
    border-bottom: 1px solid #e2e2e2;
}

/*  */
.news-list {
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
}

.news-list:last-child {
    border-bottom-color: transparent !important;
}

.news-list .title {
    font-size: 18px !important;
    line-height: 24px;
    color: #2d3134;
    font-weight: 600;
    margin: 0;
}

.news-list span {
    font-size: 12px;
    font-weight: 600;
    color: #8a8989;
}

.news-list .description {
    font-size: 16px;
    line-height: 22px;
    -webkit-line-clamp: 4;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    color: #555555;
    font-weight: 400;
    margin-bottom: 0;
}

.news-list.bg-black {
    background-color: #202020;
    height: 100%;
    padding: 10px;
    border-radius: 6px;
}

.news-sm.bg-blue .description {
    color: #ffffff;
}

.area-based-selection-news label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
}

/*  */

.news-sm.bg-blue {
    background-color: #021b74;
    border-radius: 8px;
}

.news-sm.bg-blue .title {
    color: #ffffff;
}

.news-sm.bg-blue img {
    border-radius: 5px 5px 0 0;
}

.news-sm.bg-blue .img-zoom-hover {
    border-radius: 5px 5px 0 0;
}

/* ======================= */
.story-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.story-content {
    width: 90%;
    max-width: 360px;
    height: 640px;
    background: #000;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.story-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
}

.story-content img,
.story-content video {
    width: 100%;
    height: 640px;
    object-fit: cover;
}

.swiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySwiper .swiper-slide {
    text-align: center;
    width: auto;
}

/* Progress Bar Styling */
.progress-bars {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 4px;
    z-index: 9;
    gap: 5px;
}

.progress-bars .bar {
    flex: 1;
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
}

.bar .fill {
    height: 100%;
    width: 0%;
    background: white;
    transition: width 0s linear;
}

/* Navigation Arrows */
.story-nav {
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 30px;
    height: 30px;

}

.mySwiper {
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: auto;
}

.thumb-prev,
.thumb-next {
    color: black;
    top: 57%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    z-index: 9;
    display: block;
    text-align: center;
    line-height: 30px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 14px;
    color: #202020;
    font-weight: 900;
}

/* .story-thumb {
    width: 220px;
} */

.story-thumb img {
    position: relative;
    width: 185px;
    height: 315px;
    border-radius: 5px;
}

.story-thumb p {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 8px;
    color: #fff !important;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1.5) 100%);
    width: 100%;
    padding: 10px 10px 3px 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 0 0 5px 5px;

}


/* ================================================================================
================================================================================== */

.section-title h3 {
    font-size: 20px;
    font-weight: 600;
    color: #202020;
    margin-bottom: 0;
    margin-left: 10px;
}

.section-title {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
    margin-bottom: 5px;
}

.section-title-flex {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

.section-title-flex h3 {
    font-size: 20px;
    font-weight: 600;
    color: #202020;
    margin-bottom: 0;
    margin-left: 10px;
}

.section-title-flex a {
    color: #6b1313;
    font-size: 18px;
    font-weight: 600;
}

.section-title-flex a i {
    font-size: 16px;
}

/*============================================================ */

.video-item {
    position: relative;
    aspect-ratio: 16/9;
}



.video-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
    border-radius: 8px;
}

.video-item::after {
    content: '\f144';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    color: #fff;
    position: absolute;
    left: 40%;
    top: 25%;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    transform: translate(0%, 0%);
    z-index: 2;
}

.video-item .video-thamb {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.video-slider-area .swiper-button-next,
.video-slider-area .swiper-button-prev {
    color: #837e7e;
    height: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    background-color: #e4e6e89c;
}

.video-slider-area .swiper-button-next:hover,
.video-slider-area .swiper-button-prev:hover {
    background-color: #e4e6e8;
    color: var(--bs-black);
}


.video-slider-area .swiper-button-prev {
    border-radius: 0 20px 20px 0;
    top: 35%;
}

.video-slider-area .swiper-button-next {
    border-radius: 20px 0 0 20px;
    top: 35%;
}

.video-slider-area .swiper-button-next:after,
.video-slider-area .swiper-button-prev:after {
    font-size: 18px;
    font-weight: 800;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 0px !important;
    left: auto;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 0 !important;
    right: auto;
}

.video-title h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #2d3134 !important;
    text-align: start;
    margin: 10px 0;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box !important;
}

/* =============================================== */

.news-list-arrow {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.news-list-arrow .title {
    font-size: 20px;
    line-height: 26px;
    color: #2d3134;
    font-weight: 600;

}

.news-list-arrow span {
    font-size: 12px;
    font-weight: 600;
    color: #8a8989;
}

.news-list-arrow:last-child {
    border-bottom: none;
}

/* ========================================== */

.sports-category-list-body {
    display: block;
    position: relative;
    max-height: 320px;
    overflow-y: scroll;
}


.event-list {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
}

.event-list img {
    width: fit-content;
    height: fit-content;
}

.event-list h4 {
    font-size: 16px;
    font-weight: 700;
    color: #2d3134;
}

/* ----- */
footer {
    font-weight: 400;
    margin-top: 40px;
    color: #2d3134;
    font-size: 16px;
    line-height: 22px;
}

footer span.sompadok {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #2d3134;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}