@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    --bs-primary: #03228f;
    --bs-black: #454545;
    --bs-white: #ffffff;
    --box-shadow-1: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Livvic", serif;
    font-weight: 400;
    color: var(--bs-black);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
table,
button {
    font-family: "Livvic", serif;
}

ul {
    padding: 0;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.overflow-hidden-x {
    overflow-x: hidden;
}
